services:
  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    container_name: bookmark-app
    working_dir: /app
    volumes:
      - ./:/app
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "3000:3000"
    tty: true
